@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'GT AmericaB';
  src: url('../fonts/GT-America-Condensed-Bold.ttf');
}
@font-face {
  font-family: 'GT AmericaR';
  src: url('../fonts/GT-America-Condensed-Regular.ttf');
}
@font-face {
  font-family: 'GT America';
  src: url('../fonts/GT-America-Regular.ttf');
}